auth_enabled: false

server:
  http_listen_port: 3100

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  chunk_idle_period: 5m
  max_chunk_age: 8760h # 1 год

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v12
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/boltdb-cache
  filesystem:
    directory: /loki/chunks

limits_config:
  retention_period: 8760h
  allow_structured_metadata: false
  reject_old_samples: false
  max_entry_age: 8760h

table_manager:
  retention_deletes_enabled: false
  retention_period: 8760h

query_scheduler:
  max_outstanding_requests_per_tenant: 2048

common:
  path_prefix: /loki
