name: deploy_raketa

on:
  push:
    branches:
      - main

jobs:
  deploy_to_vds:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /opt/raketa_delivery
            git pull origin main

            docker-compose down
            docker compose up --build -d
